header{
    background-color: var(--color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.left-navbar{
    display: flex;
    align-items: center;
    color: var(--color-font-primary);
    font-size: 16px;
}
.navbar-item{
    margin-right: 20px;
}
.item-actv{
    font-weight: 700;
}
